.move {
  transition: all 500s;
  animation: messageMove 500s ease-in-out alternate;
  -moz-animation: messageMove 5s ease-in-out; /* Firefox */
  -webkit-animation: messageMove 5s ease-in-out; /* Safari 和 Chrome */
  -o-animation: messageMove 5s ease-in-out; /* Opera */
}
@keyframes messageMove {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  10% {
    transform: translateY(0%);
    opacity: 1;
  }

  40% {
    transform: translateY(0%);
    opacity: 1;
  }

  70% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
