// 默认颜色
$default-color: #007bff;
// 主要颜色
$primary-color: #3498db;

// 辅助颜色
$secondary-color: #f1c40f;
$success-color: #2ecc71;
$info-color: #9b59b6;
$warning-color: #e67e22;
$danger-color: #e74c3c;

// 背景颜色
$background-color: #ecf0f1;

// 文字颜色
$text-color: #2c3e50;
$text-color-light: #ffffff;

// 边框颜色
$border-color: #bdc3c7;
$border-radius: 5px;

$font-size-base: 10px;

