// 默认颜色
$default-color: #1f2937;
// 主要颜色

$primary-color: #6e0b75;
$secondary-color: #006597;
$success-color: #36d399;
$info-color: #3abff8;
$error-color: #f87272;

$disabled-color: #bdc3c7;

$warning-color: #e67e22;
$danger-color: #e74c3c;

// 背景颜色
$background-color: #ecf0f1;

// 文字颜色
$text-color: #2c3e50;
$text-color-light: #ffffff;

// 边框颜色
$border-color: #bdc3c7;
$border-radius: 5px;

$font-size-base: 10px;
