.kylin-btn {
  @include button-base;

  &-shape {
    &-circle {
      border-radius: 50%;
    }
    &-round {
      border-radius: 0.5rem;
    }
    &-square {
      border-radius: 0;
    }
  }

  &-size {
    &-small {
      font-size: calc(#{$font-size-base} * 1.2);
      padding: 0.4rem 0.8rem;
    }
    &-medium {
      font-size: calc(#{$font-size-base} * 1.6);
      padding: 0.6rem 1.2rem;
    }
    &-large {
      font-size: calc(#{$font-size-base} * 1.8);
      padding: 0.8rem 1.6rem;
    }
  }

  &-loading {
    @include disabled;
  }

  &-icon {
    &-before {
      margin-right: 0.5rem;
    }
    &-after {
      margin-left: 0.5rem;
    }
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-default {
    @extend .kylin-btn;
    @include buttonActive;
    background-color: var(--default-color);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-primary {
    @extend .kylin-btn;
    @include buttonActive;
    background-color: var(--primary-color);
    color: #fff;
  }

  &-secondary {
    @extend .kylin-btn;
    @include buttonActive;
    background-color: var(--secondary-color);
    color: #fff;
  }

  &-success {
    @extend .kylin-btn;
    @include buttonActive;
    background-color: var(--success-color);
    color: #fff;
  }

  &-info {
    @extend .kylin-btn;
    @include buttonActive;
    background-color: var(--info-color);
    color: #fff;
  }

  &-ghost {
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: -0.02rem;
    position: relative;
    color: currentColor;
    border: 0;
    border-radius: var(--border-radius);
    background-color: transparent;
    overflow: hidden;
    padding: var(--border-width);
    & > span {
      display: block;
      background-color: #fff;
      padding: 0.8rem 2.5rem;
      border-radius: calc(
        var(--border-radius) - var(--border-width) / 2
      );
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      // background-color: var(--default-color);
      // opacity: 0.6;
      // color: #fff;
    }
    &:active {
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    }
    &::after {
      content: '';
      position: absolute;
      background: conic-gradient(
        from 180deg at 50% 50%,
        #00d1ff 0deg,
        #ee27ff 106.88deg,
        #205eff 206.25deg,
        #00f0ff 286.87deg,
        #00d1ff 360deg
      );
      top: calc(var(--background-spread) * -1);
      right: calc(var(--background-spread) * -1);
      bottom: calc(var(--background-spread) * -1);
      left: calc(var(--background-spread) * -1);
      z-index: -1;
      animation: 3s rotate linear infinite;
    }
  }

  &-disabled {
    @extend .kylin-btn;
    background-color: var(--disabled-color);
    color: #fff;
    @include disabled;
  }

  &-group {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    & button {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
