.kylin-card {
  &-container {
    border: 1px solid #f0f0f0;
    overflow: hidden;
    &:hover {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    }
  }
  &-position {
    &-top,
    &-bottom {
      flex-direction: column;
    }

    &-left,
    &-right {
      flex-direction: row;
    }

    &-bottom {
      flex-direction: column-reverse;
    }
    &-right {
      flex-direction: row-reverse;
    }
  }
  &-size {
    &-small {
      width: 30rem;
    }
    &-medium {
      width: 50rem;
    }
    &-large {
      width: 70rem;
    }
  }
  &-shape {
    &-circle {
      border-radius: 50%;
    }
    &-square {
      border-radius: 0;
    }
    &-round {
      border-radius: 1rem;
    }
  }
}
