.kylin-divider {
  position: relative;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &-with-text {
    position: relative;
    top: -0.06em;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    font-variant: tabular-nums;
    line-height: 1;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.45);

    &::before {
      content: '';
      flex: 1;
      border-top: 1px solid #e8e8e8;
    }

    &::after {
      content: '';
      flex: 1;
      border-top: 1px solid #e8e8e8;
    }

    &-center {
      &::before {
        content: '';
        width: 50%;
        height: 1px;
        background: #e8e8e8;
      }
      &::after {
        content: '';
        width: 50%;
        height: 1px;
        background: #e8e8e8;
      }
    }
    &-left {
      &::before {
        content: '';
        width: 5%;
        height: 1px;
        margin-right: 8px;
        background: #e8e8e8;
      }
      &::after {
        content: '';
        width: 95%;
        height: 1px;
        background: #e8e8e8;
      }
    }
    &-right {
      &::before {
        content: '';
        width: 95%;
        height: 1px;
        margin-right: 8px;
        background: #e8e8e8;
      }
      &::after {
        content: '';
        width: 5%;
        height: 1px;
        background: #e8e8e8;
      }
    }
  }

  &-inner-text {
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    height: 100%;
    font-size: 0.8rem;
    font-variant: tabular-nums;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.45);
  }

  &-horizontal {
    margin: 16px 0;
  }

  &-vertical {
    display: inline-block;
    height: 1.1rem;
    border-top: 0;
    border-left: 1px solid #e8e8e8;
    margin: 0 0.5rem;
  }

  &-dashed {
    border-top: 1px dashed #e8e8e8;
  }

  &-plain {
    border: none;
  }

  &-no-default-orientation-margin {
    &-left {
      &::before {
        content: '';
        width: 0%;
        height: 1px;
        background: #e8e8e8;
      }
      &::after {
        content: '';
        width: 95%;
        height: 1px;
        background: #e8e8e8;
      }
    }
    &-right {
      &::before {
        content: '';
        width: 95%;
        height: 1px;
        margin-right: 8px;
        background: #e8e8e8;
      }
      &::after {
        content: '';
        width: 5%;
        height: 1px;
        background: #e8e8e8;
      }
    }
  }
}
