.kylin-space {
  display: flex;

  &-justify {
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
    &-center {
      justify-content: center;
    }
    &-space {
      &-between {
        justify-content: space-between;
      }
      &-around {
        justify-content: space-around;
      }
    }
  }

  &-horizontal {
    @extend .kylin-space;
    flex-direction: row;
  }

  &-vertical {
    @extend .kylin-space;
    flex-direction: column;
  }

  &-align-center {
    @extend .kylin-space;
    align-items: center;
  }
  &-align-end {
    @extend .kylin-space;
    align-items: flex-end;
  }
  &-align-start {
    @extend .kylin-space;
    align-items: flex-start;
  }
  &-align-baseline {
    @extend .kylin-space;
    align-items: baseline;
  }

  &-item {
    &-split {
      border-right: 1px solid var(--border-color);
      margin-right: 1rem;
    }
  }
}
