.kylin-tag {
  &-type {
    &-primary {
      background: var(--primary-color);
      color: var(--primary-contrast-color);
    }
    &-secondary {
      background: var(--secondary-color);
      color: var(--secondary-contrast-color);
    }
    &-success {
      background: var(--success-color);
      color: var(--success-contrast-color);
    }
    &-warning {
      background: var(--warning-color);
      color: var(--warning-contrast-color);
    }
    &-danger {
      background: var(--danger-color);
      color: var(--danger-constrast-color);
    }
    &-info {
      background: var(--info-color);
      color: var(--info-constrast-color);
    }
  }
  &-gradient {
    &-aquamarine {
      background: var(--background-gradient-aquamarine);
      color: #fff;
    }
    &-orange {
      background: var(--background-gradient-soft-orange);
      color: #fff;
    }
    &-blue {
      background: var(--background-gradient-gentle-blue);
      color: #fff;
    }
    &-red {
      background: var(--background-gradient-muted-red);
      color: #fff;
    }
  }
  &-size {
    &-small {
      padding: 0 0.4rem;
      font-size: 1rem;
      height: 1.6rem;
      line-height: 1.6rem;
    }
    &-middle {
      padding: 0 0.6rem;
      font-size: 1.2rem;
      height: 2rem;
      line-height: 2rem;
    }
    &-large {
      padding: 0 0.8rem;
      font-size: 1.4rem;
      height: 2.4rem;
      line-height: 2.4rem;
    }
  }
  &-shape {
    &-circle {
      border-radius: 50%;
    }
    &-rounded {
      border-radius: var(--border-radius);
    }
    &-square {
      border-radius: 0;
    }
  }

  &-icon {
    &-before {
      margin-right: 0.5rem;
    }
    &-after {
      margin-left: 0.5rem;
    }
  }
}
