:root {
  --default-color: #{$default-color};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --success-color: #{$success-color};
  --info-color: #{$info-color};
  --warning-color: #{$warning-color};
  --danger-color: #{$danger-color};

  --default-contrast-color: #{$default-contrast-color};
  --primary-contrast-color: #{$primary-contrast-color};
  --secondary-contrast-color: #{$secondary-contrast-color};
  --success-contrast-color: #{$success-contrast-color};
  --info-contrast-color: #{$info-contrast-color};
  --warning-contrast-color: #{$warning-contrast-color};
  --danger-contrast-color: #{$danger-contrast-color};

  --background-gradient-aquamarine: #{$background-gradient-aquamarine};
  --background-gradient-soft-orange: #{$background-gradient-soft-orange};
  --background-gradient-gentle-blue: #{$background-gradient-gentle-blue};
  --background-gradient-muted-red: #{$background-gradient-muted-red};

  --background-color: #{$background-color};
  --text-color: #{$text-color};
  --text-color-light: #{$text-color-light};
  --border-color: #{$border-color};
  --disabled-color: #{$disabled-color};
  --background-spread: #{$background-spread};
  --border-width: #{$border-width};
  --border-radius: #{$border-radius};
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
